ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 30px;
    text-align: center;
}

h2 {
    color: #555;
}

.tit {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.tit::after {
    content: "";
    display: block;
    width: 130px;
    height: 3px;
    background: #aaa;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container .con {
    border-bottom: 1px solid #ddd;
}

.container .con li a {
    display: block;
    border: 1px solid #ddd;
    padding: 16px 10px;
    border-radius: 10px;
}