ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    padding: 50px 0 0 0;
    text-align: center;
}

h2 {
    color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.tit {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 15px 0;
    text-align: center;
}

hr {
    position: relative;
    border: none;
    border-top: 1px solid #ddd;
    overflow: visible;
}

hr::before {
    content: '\ea10';
    font-family: xeicon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    color: #333;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.container .con {
    border-bottom: 1px solid #ddd;
}

.container .con li~li {
    margin: 5px 0 0 0;
}

.container .con li a {
    display: block;
    border: 1px solid #ddd;
    padding: 16px 0 16px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.container .con li:hover a {
    color: #fff;
    background: #333;
}